@page "/contact-us"
@using Learning.Shared.Dto.DataCollection.ContactUsRequest
@using Learning.Web.Client.Components.Controls.Actions
@using Learning.Web.Client.Components.Pages.Home.Footer
@using Learning.Web.Client.Contracts.Services.DataCollection
@using Learning.Web.Client.Dto.ContactUs
@rendermode InteractiveAuto
@inject IContactUsDataService ContactUsDataService
@inject IAlertService AlertService
<PageTitle>Contact Us</PageTitle>

<AppPage Class="d-flex flex-column flex-grow-1">
	<MudContainer Class="flex-grow-1 d-flex flex-column flex-grow-1" MaxWidth="MaxWidth.ExtraLarge">
		<div class="my-10 my-md-17"></div>
		<div class="d-flex flex-column flex-md-row flex-grow-1 gap-3">
			<MudImage Class="app-bg-image" ObjectFit="ObjectFit.Cover"
					  Src="/assets/images/contact_us_bg.jpg" ObjectPosition="ObjectPosition.Center">

			</MudImage>
			<div class="d-flex flex-column align-center flex-grow-1">
				<div class="d-flex flex-column flex-grow-1 justify-start justify-md-center align-center w-100">

					<EditForm Model="@_model"
							  FormName="ContactUs"
							  OnValidSubmit="AddContactDetails"
							  class="d-flex flex-column align-center justify-center w-100">
						<DataAnnotationsValidator />
						<div class="d-flex flex-column gap-3 gap-md-6 form-input-container">
							<h1 class="mb-1 mb-md-12 mt-5 mt-md-0">Get in touch with us</h1>
							<AppTextField Label="Name"
										  @bind-Value="@_model!.Name"
										  For="(()=> _model!.Name)"></AppTextField>

							<AppTextField Label="Contact Number"
										  @bind-Value="@_model.ContactNumber"
										  For="(()=> _model.ContactNumber)"></AppTextField>

							<AppTextField Label="City"
										  @bind-Value="@_model.City"
										  For="(()=> _model.City)"></AppTextField>
							<AppTextField Label="Email (Optional)"
										  @bind-Value="@_model.EmailAddress"
										  For="(()=> _model.EmailAddress)"></AppTextField>

							<AppButton Text="Contact Us" Class="mt-2 mt-md-3"
									   FormType="AppButton.AppButtonFormType.Submit"></AppButton>
						</div>
						<div class="d-flex gap-md-5 gap-3  mt-20 mt-md-12">
							<MudImage Src="@GlyphIcons.FbNeg" Width="24" />
							<MudImage Src="@GlyphIcons.InstaNeg" Width="24" />
							<MudImage Src="@GlyphIcons.WhatsappNeg" Width="24" />
						</div>

					</EditForm>

				</div>
				<div class="d-flex flex-column gap-6 align-center">

					<div class="d-flex flex-wrap justify-center gap-2 gap-md-12 mt-6">
						<FooterContactComponent Icon="@GlyphIcons.WhatsappNeg"
												Text="98950 07374" Href="https://wa.me/9895007374?text=Hello"></FooterContactComponent>
						<FooterContactComponent Icon="@GlyphIcons.PhoneDialerNeg" Text="9895007374"
												Href="tel:+9198950 07374"></FooterContactComponent>
						<FooterContactComponent Icon="@GlyphIcons.MailNeg" Text="btsacademy@gmail.com"
												Href="mailto:btsacademy@gmail.com"></FooterContactComponent>
					</div>
					<h6 class="place-text">Perinthalmanna | Palakkad | Feroke</h6>
				</div>
			</div>
		</div>
	</MudContainer>
</AppPage>
@code {
	private ContactUsModel? _model;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		_model = InitModel();
	}

	private ContactUsModel InitModel()
	{
		return new ContactUsModel
			{
				City = string.Empty,
				ContactNumber = string.Empty,
				Name = string.Empty,
				EmailAddress = null,
			};
	}

	private async Task AddContactDetails(EditContext context)
	{
		try
		{
			await ContactUsDataService.AddContactInformation(new AddContactInformationCommandRequestDto
				{
					City = _model!.City,
					ContactNumber = _model.ContactNumber,
					CountryCode = "+91",
					Name = _model.Name,
					EmailAddress = _model.EmailAddress,
				});
			await AlertService.DisplayPublicUserGeneralAlert("Thank You", "Our customer support will contact you soon.", "Okay");
			_model = InitModel();
		}
		catch(Exception ex)
		{
		}
	}
}
