@using Learning.Shared.Constants
@if (!DarkMode)
{
	<a href="@ContactInfoConstant.Facebook"><MudImage Src="@GlyphIcons.FbNeg" Width="24" /></a>
	<a href="@ContactInfoConstant.Instagram"><MudImage Src="@GlyphIcons.InstaNeg" Width="24" /></a>
	<a href="@ContactInfoConstant.YoutubeChannel"><MudImage Src="@GlyphIcons.YoutubeNeg" Width="24" /></a>
}
else
{
	<a href="@ContactInfoConstant.Facebook"><MudImage Src="@GlyphIcons.Fb" Width="24" /></a>
	<a href="@ContactInfoConstant.Instagram"><MudImage Src="@GlyphIcons.Insta" Width="24" /></a>
	<a href="@ContactInfoConstant.YoutubeChannel"><MudImage Src="@GlyphIcons.Youtube" Width="24" /></a>
}
@code {
	[Parameter]
	public bool DarkMode { get; set; }
}
