@using Learning.Web.Client.Components.Controls.Actions
@using Learning.Shared.Common.Extensions;
<style>
	:root {
		--mud-default-borderradius: var(--app-mud-default-borderradius);
	}
</style>
<span>
	<MudDialog Class="ma-9" ContentClass="ma-0 pa-0">
		<DialogContent>
			<div class="relative">
				<MudGrid Spacing="0" Justify="Justify.Center" Class="align-stretch ">
					<MudItem xs="12" md="6" Class="ma-0 pa-0" >
						<img src="/assets/images/model_exam/model_exam_bg.jpg" class="alert-img h-100" />
					</MudItem>
					<MudItem xs="12" md="6" Class="d-flex align-content-center pa-9">
						<div class="d-flex flex-column align-content-center justify-center align-stretch gap-5 w-100">
							<h2>@ModelExamName</h2>
							<p>@ModelExamDescription</p>
							<div class="d-flex flex-column gap-2">
								<div class="d-flex justify-space-between">
									<h6>No.of questions</h6>
									<h6>@TotalQuestions</h6>
								</div>
								<div class="d-flex justify-space-between">
									<h6>Total time</h6>
									<h6>@TotalTimeSeconds.ToDurationString()</h6>
								</div>
								<div class="d-flex justify-space-between">
									<h6>Total Marks</h6>
									<h6>@TotalMarks</h6>
								</div>
								<div class="d-flex justify-space-between">
									<h6>Mark Per Question</h6>
									<h6>@PositiveMark</h6>
								</div>
								<div class="d-flex justify-space-between">
									<h6>Negative Mark</h6>
									<h6>@NegativeMark</h6>
								</div>
							</div>
							<AppButton Text="Start Exam" OnClick="Submit" FullWidth></AppButton>
						</div>
					</MudItem>
				</MudGrid>
				<MudIconButton Icon="@Icons.Material.Filled.Close" 
							   Class="absolute end-0 top-0 ma-5"
							   OnClick="Cancel"></MudIconButton>
			</div>
		</DialogContent>
	</MudDialog>
</span>

@code {
	[CascadingParameter]
	private MudDialogInstance? MudDialog { get; set; }

	[Parameter]
	public string ModelExamName { get; set; } = string.Empty;

	[Parameter]
	public string ModelExamDescription { get; set; } = string.Empty;

	[Parameter]
	public int TotalQuestions { get; set; }

	[Parameter]
	public int TotalTimeSeconds { get; set; }

	[Parameter]
	public float PositiveMark { get; set; }

	[Parameter]
	public float NegativeMark { get; set; }

	[Parameter]
	public float TotalMarks { get; set; }

	private void Submit() => MudDialog!.Close(DialogResult.Ok(true));

	private void Cancel() => MudDialog!.Cancel();
}
